.App {
  margin: 60px;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.div1{
  color: aqua;
}

.table tr{
  background-color: antiquewhite;
  float: center;
  color: chocolate;
}

.table h1{
  background-color: beige;
  color: blueviolet;
}
.table h1:hover{
  color: black;
}

.table table{
  border: goldenrod;
}

.form{
  background-color: blanchedalmond;
  color: brown;
}
.form button{
  background-color: blueviolet;
  border-radius: 50%;
}
.formm{
  background-color: antiquewhite;
  background-image: url(./icon.jpg);
}

.zero button onClick:hover{
  color: red;
}